apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
nodes:
  - role: control-plane
    extraPortMappings:
      # HTTP
      - containerPort: 80
        hostPort: 8080
        protocol: TCP
      # HTTPS
      - containerPort: 443
        hostPort: 8443
        protocol: TCP
      # Backend API
      - containerPort: 30000
        hostPort: 3000
        protocol: TCP
      # LocalStack
      - containerPort: 30566
        hostPort: 4566
        protocol: TCP
